.jumbotron {
  padding-top: 6rem;
  margin-bottom: 2rem;
  background-color: #e2edff;
}
#project {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
.text-justify {
  text-align: justify;
}
h2 {
  margin-bottom: 1rem;
}
.content {
  padding-top: 2rem;
}
.card-img-top {
  transition: transform 0.3s ease; /* Menambahkan transisi halus */
}

.card-img-top:hover {
  transform: scale(0.95); /* Mengecilkan gambar sedikit */
}
