.jumbotron {
  padding-top: 6rem;
  margin-bottom: 2rem;
  background-color: #e2edff;
}
#project {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
.text-justify {
  text-align: justify;
}
h2 {
  margin-bottom: 1rem;
}
.content {
  padding-top: 2rem;
}
.card-img-top {
  transition: transform 0.3s ease; /* Menambahkan transisi halus */
}

.card-img-top:hover {
  transform: scale(0.95); /* Mengecilkan gambar sedikit */
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 4rem;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
